{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/static.html' as admin_static with context %}
{% extends "base/base.html" %}

{% block sidebar %}
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="{{ url_for('static', filename='user.png') }}" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name"><h4>{{ current_user.name }}</h4></div>
				<div class="profile-usertitle-status"><h6 style="color: #5b9bd1;">{{ current_user.chucvu }}</h6></div>
            </div>
			<div class="clear"></div>
        </div>
        <ul class="nav menu">
                {{ layout.menu() }}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#"><em class="fa fa-home"></em></a></li>
                <li class="active">Admin</li>
            </ol>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">HỆ THỐNG QUẢN LÝ HỌC SINH &copy; 2020</h1>
                <h4>Sinh viên thực hiện:</h4>
                <label>Lâm Thị Xuân Mai - 1851050088<br>
                Lê Thị Thùy Dương - 1851050028<br>
                </label>
                <h4>Giảng viên hướng dẫn:</h4>
                <label>Dương Hữu Thành</label>
            </div>
        </div>
    </div>
{% endblock %}